Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @ttruty
Sign out
23
629 512 jglovier/resume-template
 Code  Issues 5  Pull requests 0  Projects 1  Wiki  Insights
resume-template/_includes/print-social-links.html
f13d896  on Jan 10, 2017
@bryanculver bryanculver Adding some styles to support a clean, printable format. Two resume's…
     
42 lines (33 sloc)  1.4 KB
<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if site.resume_print_social_links %}
<ul>

  <!-- GitHub link -->
  {% if site.resume_social_links.resume_github_url %}
  <li><strong>Github</strong>: {{ site.resume_social_links.resume_github_url }}</li>
  {% endif %}

  <!-- Twitter link -->
  {% if site.resume_social_links.resume_twitter_url %}
  <li><strong>Twitter</strong>: {{ site.resume_social_links.resume_twitter_url }}</li>
  {% endif %}

  <!-- Dribbble link -->
  {% if site.resume_social_links.resume_dribbble_url %}
  <li><strong>Dribbble</strong>: {{ site.resume_social_links.resume_dribbble_url }}</li>
  {% endif %}

  <!-- Facebook link -->
  {% if site.resume_social_links.resume_facebook_url %}
  <li><strong>Facebook</strong>: {{ site.resume_social_links.resume_facebook_url }}</li>
  {% endif %}

  <!-- LinkedIn link -->
  {% if site.resume_social_links.resume_linkedin_url %}
  <li><strong>LinkedIn</strong>: {{ site.resume_social_links.resume_linkedin_url }}</li>
  {% endif %}

  <!-- Instagram link -->
  {% if site.resume_social_links.resume_instagram_url %}
  <li><strong>Instagram</strong>: {{ site.resume_social_links.resume_instagram_url }}</li>
  {% endif %}

  <!-- Website link -->
  {% if site.resume_social_links.resume_website_url %}
  <li><strong>Website</strong>: {{ site.resume_social_links.resume_website_url }}</li>
  {% endif %}

</ul>
{% endif %}
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About